name: Set up Minishift

on: [push]

jobs:
  deploy-and-verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Minishift
        run: |
          MINISHIFT_VERSION=v1.34.3
          wget https://github.com/minishift/minishift/releases/tag/${MINISHIFT_VERSION}/minishift-${MINISHIFT_VERSION}-linux-amd64.tgz -O minishift
          chmod +x minishift
          sudo mv minishift /usr/local/bin/
          minishift start --cpus 2 --memory 4096
